php/codes/demo/soap/Service.wsdl

<?xml version="1.0" ?>
<definitions name="soap" targetNamespace="urn:soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="soapPort"><operation name="test">
<input message="tns:testRequest" />
<output message="tns:testResponse" />
</operation>
<operation name="tool">
<input message="tns:toolRequest" />
<output message="tns:toolResponse" />
</operation>
</portType>
<binding name="soapBinding" type="tns:soapPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="test">
<soap:operation soapAction="urn:soap#Service#test" />
<input><soap:body use="encoded" namespace="urn:soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="tool">
<soap:operation soapAction="urn:soap#Service#tool" />
<input><soap:body use="encoded" namespace="urn:soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:soap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="soap">
<documentation />
<port name="soapPort" binding="tns:soapBinding"><soap:address location="http://localhost:80/soap/Service.php" />
</port>
</service>
<message name="testRequest">
<part name="user" type="xsd:array"/>
<part name="age" type="xsd:array"/>
</message>
<message name="testResponse">
<part name="test" type="xsd:object"/>
</message>
<message name="toolRequest">
<part name="abc" type="xsd:number"/>
<part name="def" type="xsd:int"/>
</message>
<message name="toolResponse">
<part name="tool" type="xsd:double"/>
</message>
</definitions>